<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sms">
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="28" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMS"
        tools:targetApi="31">
        <activity
            android:name=".admin.AttendanceReport"
            android:exported="false" />
        <activity
            android:name=".admin.ContactsReport"
            android:exported="false" />
        <activity
            android:name=".admin.StudentListReport"
            android:exported="false" />
        <activity
            android:name=".admin.ResultsHome"
            android:exported="false" />
        <activity
            android:name=".admin.EditReference"
            android:exported="false" />
        <activity
            android:name=".admin.ViewAnswers"
            android:exported="false" />
        <activity
            android:name=".admin.EditUpdatesActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ExamsResultsReport"
            android:exported="false" />
        <activity
            android:name=".admin.LoadAttendanceList"
            android:exported="false" />
        <activity
            android:name=".admin.DayAttendance"
            android:exported="false" />
        <activity
            android:name=".admin.MonthAttendanceList"
            android:exported="false" />
        <activity
            android:name=".admin.ViewAttendance"
            android:exported="false" />
        <activity
            android:name=".admin.AdminFingerPrintAuth"
            android:exported="false" />
        <activity
            android:name=".admin.EditHWActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Grade11HW"
            android:exported="false" />
        <activity
            android:name=".admin.Grade10HW"
            android:exported="false" />
        <activity
            android:name=".admin.Home_Work"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".admin.Add_Attendance"
            android:exported="false" />
        <activity
            android:name=".admin.UserList"
            android:exported="false" />
        <activity
            android:name=".others.NoteDetails"
            android:exported="false" />
        <activity
            android:name=".others.EditNoteActivity"
            android:exported="false" />
        <activity
            android:name=".others.ShowActivity"
            android:exported="false" />
        <activity
            android:name=".others.AddPhotos"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".others.Test"
            android:exported="false" />
        <activity
            android:name=".students.UpdateStud"
            android:exported="false" />
        <activity
            android:name=".students.TextRecognitionStud"
            android:exported="false" />
        <activity
            android:name=".students.ReportStud"
            android:exported="false" />
        <activity
            android:name=".students.ExamsResultsStud"
            android:exported="false" />
        <activity
            android:name=".admin.ExamsResults"
            android:exported="false" />
        <activity
            android:name=".students.NotesStud"
            android:exported="false" />
        <activity
            android:name=".students.StudyMaterialStud"
            android:exported="false" />
        <activity
            android:name=".students.HomeworkStud"
            android:exported="false" />
        <activity
            android:name=".students.ScheduleStud"
            android:exported="false" />
        <activity
            android:name=".students.AttendanceStud"
            android:exported="false" />
        <activity
            android:name=".students.MySubjects"
            android:exported="false" />
        <activity android:name=".others.ActivityQuestions" />
        <activity
            android:name=".admin.TextRecognition"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".admin.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ScheduleActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".HomeworkActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".others.CreateNotesActivity"
            android:exported="false" />
        <activity
            android:name=".others.NotesActivity"
            android:exported="false" />
        <activity
            android:name=".admin.StudyMaterial"
            android:exported="false" />
        <activity
            android:name=".admin.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".others.CropperActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Manage_User"
            android:exported="false" />
        <activity
            android:name=".others.MainActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".PopUp" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".others.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".students.StudentLoginActivity" />
        <activity android:name=".others.LoginActivity" />
        <activity
            android:name=".admin.TeacherPageActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".students.StudentPageActivity" />
        <activity android:name=".others.PopUp" />
        <activity
            android:name=".students.StudentFingerPrintAuth"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>